# ============================================
# TFG_HP - Python Dependencies
# ============================================

# Backend Models
-r src/backend/models/requirements.txt

# Backend Service
-r src/backend/service/requirements.txt

# Databases
-r src/backend/databases/data_storage/requirements.txt
-r src/backend/databases/media_storage/requirements.txt

# Testing
-r tests/requirements.txt



