# ============================================
# TFG_HP - Python Dependencies
# ============================================

# Backend Models
-r models/requirements.txt

# Backend Service
-r service/requirements.txt

# Databases
-r databases/requirements.txt

# Testing
-r tests/requirements.txt

# Backend ai
-r ai/requirements.txt



